<style>
    re {color:#FF6F6F;font-weight:bold}
    or {color:#FEC856;font-weight:bold}
    ye {color:#FBFF55;font-weight:bold}
    gr {color:#00E61D;font-weight:bold}
    bl {color:#5573FF;font-weight:bold}
    pu {color:#CE52FE;font-weight:bold}
    

    pre {
        background: #31343f;
        color: #DEE2F7;
        border-radius: 12px;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 15px;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }
</style>