<style>
    span[list] { color: #FF6F6F;font-weight:bold }
    span[bool] { color: #FEC856;font-weight:bold }
    span[float] { color: #FBFF55;font-weight:bold }
    span[double] { color: #00E61D;font-weight:bold }
    span[int] { color: #5573FF;font-weight:bold }
    span[str] { color: #CE52FE;font-weight:bold }
    span[mark-1] { background-color: #a03030;}
    span[mark-2] { background-color: #877b4e;}
    span[mark-3] { background-color: #0c4e2a;}
    span[mark-4] { background-color: #301a60;}

    pre {
        background: #31343f;
        color: #DEE2F7;
        border-radius: 12px;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 15px;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }
</style>