<style>
    #select {
        background-color: #27262b;
        color: #8fb7fb;
        border: 3px solid #44434d;
        padding: 3px;
        border-radius: 8px;
    }

    #select option {
        color: #8fb7fb;
    }

    pre {
        background: #31343f;
        color: #DEE2F7;
        border-radius: 12px;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 15px;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }

    ver-s {
        display: block;
    }

    ver-h {
        display: none;
    }
</style>

<select id="select">
    <option value="1194">1.19.4</option>
    <option value="1193">1.19.3</option>
    <option value="1190">1.19</option>
    <option value="1182">1.18.2</option>
    <option value="1180">1.18</option>
</select>

<script>
    document.getElementById('select').addEventListener('change', function () {
        var elements = document.querySelectorAll('ver-s, ver-h');

        for (var i = 0; i < elements.length; i++) {
            var element = elements[i];
            var version = element.getAttribute('data-version');
            if (version == '1.19.4' || version == '>=1.19' || version == '>=1.18.2') {
                element.style.display = 'block'
            } else {
                element.style.display = 'none'
            }
            switch (element.getAttribute('data-version')) {
                case '1.19.4':
                    if (this.value != 1194) { element.style.display = 'none' }
                    break;
                case '1.19.3':
                    if (this.value == 1193) { element.style.display = 'block' }
                    break;
                case '1.19':
                    if (this.value == 1190) { element.style.display = 'block' }
                    break;
                case '1.18.2':
                    if (this.value == 1182) { element.style.display = 'block' }
                    break;
                case '1.18':
                    if (this.value == 1180) { element.style.display = 'block' }
                    break;
                case '>=1.19':
                    if (this.value < 1190) { element.style.display = 'none' }
                    break;
                case '>=1.18.2':
                    if (this.value < 1182) { element.style.display = 'none' }
                    break;
                case '<=1.18.2':
                    if (this.value <= 1182) { element.style.display = 'block' }
                    break;
                case '<=1.19.3':
                    if (this.value <= 1193) { element.style.display = 'block' }
                    break;
            }
        }
    });

    function setDisplays() {
    }
</script>